<a href="https://colab.research.google.com/github/Rakib911Hossan/python-basics/blob/main/Lav_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
wieght = input("Enter your weight: ")
hight = input("Enter your hight: ")
bmi = int(wieght) / (float(hight) * float(hight))
print("the result of BMI: ",bmi)
if bmi < 18.5:
    print(" underweight.")
elif 18.5 <= bmi <= 25:
    print("normal weight.")
elif 25 <= bmi < 30:
    print("overweight.")
elif  bmi >= 30:
    print("obese")

Enter your weight: 75
Enter your hight: 1.8
the result of BMI:  23.148148148148145
normal weight.

In [17]:
num = int(input("Enter a number: "))
total = 0
length = len(str(num))

for i in range(length):
    total += num % 10
    num //= 10

print("Sum of digits:", total)

Enter a number: 1234
Sum of digits: 10

In [16]:
num = int(input("Enter a number: "))
factorial = 1

for i in range(1, num + 1):
    factorial *= i

print("Factorial of", num, "is", factorial)

Enter a number: 4
Factorial of 4 is 24

In [24]:
list = [45,23,67,89,34]
list.sort()
print( "second highest ",list[-1])

second highest  89

In [35]:
list = [11,11,23,4,4,22,45,23,67,67,89,34]
list

print( "second highest ",set(list))

second highest  {34, 67, 4, 11, 45, 22, 23, 89}

In [37]:
def add(n1,n2):
  return n1+n2
def sub(n1,n2):
  return n1-n2
def multiply(n1,n2):
  return n1*n2
def divide(n1,n2):
  return n1/n2
n1 = int(input("Enter a number: "))
n2 =int(input("Enter a number: "))
Add = add(n1,n2)
print("Addition: ",Add)
Sub = sub(n1,n2)
print("Sub: ",Sub)
Multiply = multiply(n1,n2)
print("Multiplication: ",Multiply)
Divide = divide(n1,n2)
print("Divide: ",Divide)

Enter a number: 66
Enter a number: 33
Addition:  99
Sub:  33
Multiplication:  2178
Divide:  2.0